@import "./_image"

.sample
  display: block
.sample1
  $profile1()
.sample2
  $profile2()
.sample3
  $profile3()
.sample4
  $profile4()
.sample5
  $profile5()
.sample6
  $test()
.sample7
  $test2()
  path
    fill: red